@import '../../../variables';

.root {
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: 1fr;

	justify-items: center;
	align-items: center;
}

.card {
	border-radius: 10px;
}

@media (min-width: 320px) {
	.root {
		width: 100%;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		grid-gap: 1rem;
	}

	.card {
		width: 100%;
		max-width: 352px;
		height: 135px;
		background-color: $second;
	}
}
