@import '../../../variables';

.button {
	all: unset;
	width: 31px;
	height: 22px;
	cursor: pointer;
	visibility: visible;
	z-index: 1000;

	&:hover {
		span:nth-of-type(1) {
			width: 33px;
		}

		span:nth-of-type(2) {
			width: 40px;
		}

		span:nth-of-type(3) {
			width: 30px;
		}
	}
}

.nav {
	width: 100%;
	display: none;
	border-radius: 0 0 16px 16px;
	display: block;
	position: absolute;
	left: 0;
	background: linear-gradient(180deg, rgba(245, 219, 19, 1) 0%, rgba(242, 184, 7, 1) 63%);
	height: 40vh;

	ul {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		margin: 0;
		padding: 0;
		flex-direction: column;
		align-items: center;
		list-style-type: none;
	}
}

.openNav {
	top: 80px;
	transition: top 0.5s ease-out;
}

ul {
	display: block;
}

.closeNav {
	top: -410px;
	transition: top 0.5s ease-out;
}

.navItem {
	height: 25%;
	font-size: clamp(1.5rem, 3vw, 2rem);
}

.link {
	text-decoration: none;
	color: $dark;
	cursor: pointer;
}

.active {
	span:nth-of-type(1) {
		transform: rotate(45deg) translate(5px, 4px);
		width: 31px;
	}

	span:nth-of-type(2) {
		opacity: 0;
		pointer-events: none;
	}

	span:nth-of-type(3) {
		transform: rotate(-45deg) translate(7px, -7px);
		width: 31px;
	}
}

.burgerMenu {
	display: block;
	width: 31px;
	height: 5.5px;
	margin-bottom: 2.5px;
	border-radius: 2px;
	background-color: $dark;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (min-width: 769px) {
	.nav {
		position: relative;
		top: 0;
		width: 65%;
		height: 40px;
		flex-grow: 1;
		display: block;
		background: $third;

		ul {
			position: relative;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;

			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}

	.navItem {
		position: relative;
		height: 100%;
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.navItem:after {
		content: '';
		position: absolute;
		width: 100%;
		flex: 1 1 auto;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: $dark;
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}

	.navItem:hover:after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}

	.button {
		visibility: hidden;
	}
}
