@import '../../variables';

.header,
.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

.header {
	width: 100%;
	height: 80px;
	background-color: $third;
	justify-content: space-around;
}

.logo {
	position: relative;
	width: 25%;
	height: 100%;
	z-index: 1000;

	svg {
		position: absolute;
		height: 50%;
		width: 100%;
		left: 0;
		top: 25px;
	}
}
