@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Karla, Arial, sans-serif;
}

main {
	width: 100%;
	flex: 1 1 auto
}
