@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}


body {
	font-family: Karla, Arial, sans-serif;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}
